<p>Bonjour <%= @candidate.first_name %></p>

<p>Nous avons bien reçu ta candidature pour le programme Code & Calanques, <%= @candidate.session.name %>, et nous t'en remercions.</p>

<p>Nous faisons actuellement passer les entretiens de sélection par skype.</p>

<p>Cet entretien sera l'occasion de vérifier avec toi si le programme Code & Calanques est adapté à ton projet.</p>

<p>N'hésite pas <a href="http://calendly.com/lewagonaixmarseille/code-calanques" target="_blank"> à booker rapidement un créneau.</a></p>

<p>A bientôt,</p>



