  <div class="padded-sm background-blue text-center text-white">
    <p>Pour obtenir le programme détaillé, postulez à une formation.</p>
    <%= link_to "Je postule", root_path(anchor: "sessions"), class: "btn btn-cc btn-cc-white" %>
  </div>

