<div class="navbar-wagon navbar-wagon-fixed">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <img src="images/lewagon.png" />
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">



    <!-- Text link -->
    <a href="" class="navbar-wagon-item navbar-wagon-link">Concept</a>

    <!-- Text link -->
    <a href="" class="navbar-wagon-item navbar-wagon-link">Lieu</a>

    <!-- Text link -->
    <a href="" class="navbar-wagon-item navbar-wagon-link">Agenda</a>

    <!-- Text link -->
    <a href="" class="navbar-wagon-item navbar-wagon-link">Staff</a>

    <!-- Text link -->
    <a href="" class="navbar-wagon-item navbar-wagon-link">Inscription</a>



    <!-- Button (call-to-action) -->
    <a href="" class="navbar-wagon-item navbar-wagon-button btn">Je m'inscris</a>
  </div>


</div>
