<div class="card-prof">
  <h2><%= "#{data['first_name'].capitalize} #{data['last_name'].capitalize} "%></h2>
    <%= image_tag data['image'], class:"avatar-xxl" %>
  <p><%= data['description'] %></p>
</div>
