<!-- Banner -->
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('background.jpg');">
  <div class="banner-content">
    <h1>Code & Calanque</h1>
    <p>Une semaine pour apprendre à coder un produit dans un cadre unique</p>
    <a class="btn btn-primary btn-lg">Je m'inscris !</a>
  </div>
</div>


<!-- Le concept -->

<div class="section">
<h1 class="text-center">Le Concept</h1>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <p>
        Apprenez à coder votre produit en seulement une semaine, dans le cadre unique du parc national des calanques.
        Le jour nous codons, en fin de journée nous escaladons.
        Tout est compris le logement, les repas, les cours, le matériel.
        Prenez juste votre ordi et vos billets de train.
      </p>
    </div>
  </div>
</div>

</div>

<!-- Le code -->
<div class="section">

  <h2>Le Code</h2>

  <p>L'objectif de cette semaine est d'apprendre à coder un <strong>produit de A à Z </strong>.</p>
  <p></p>
  <p>Il n'y a pas de niveau requis minimum, mais pour ceux qui n'ont jamais codé nous vous enverrons des petits devoirs de vacances pour préparer la semaine ;)</p>

  <%= link_to "Le programme", program_path %>

</div>


<!-- Les calanques -->

<div class="section">
<h2>Les Calanques</h2>

  <p>Découvrez les calanques grâce à l'escalade, <strong>aucun niveau pré-requis </strong> n'est exigé pour participer à cette semaine. </p>
  <p>Que vous soyez débutants ou expérimentés nous vous fourniront le matériel et des professionnels vous encadreront.</p>
  <p>Si la hauteur vous fait peur, les calanques nous réservent bein d'autres activités, des balades, du kayacs, des baignades ...</p>

</div>

<!-- Le staff -->

<div class="section">
<h2>Le staff</h2>

</div>

<!-- Le programme -->

<div class="section">
<h2>Le Programme</h2>
</div>

<!-- Le Inscription -->

<div class="section">
<h2>Le Programme</h2>
</div>
