<div class="section">
<div class="container">
  <h1>Le Concept</h1>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
     <ul class="list-inline">
       <li></li>
       <li></li>
       <li></li>
     </ul>
    </div>
  </div>
</div>
