.apply-form-wrapper{
  width:300px;
}

.apply-title{
  text-align: center;
  border-bottom: 1px solid white;
  line-height: 50px;
}

.apply-form{
  padding:20px;
}

.apply-wrapper{
  position:relative;
  min-width: 700px;
}

.left-wrapper{
  margin-right: 400px;
  padding-left: 50px;
  padding-top: 100px;
  padding-bottom: 200px;
}

#apply{
  position: absolute;
  right: 40px;
  top: -50px;
}

